/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --button-color: #FF0070;
  --accent-text-color: #000028;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --bg-image: url("../images/cover-image-dark.png");
}


.theme-dark .header__decoration-dark::before {
  display: block;
}
  
.theme-light .header__decoration-dark::after {
  display: block;
}

